# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data science.
* List some of the most commonly libraries used by data scientists.
* List commonly used data science tools.
* Evaluate arithmetic expressions in Python.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. SciPy
5. Scikit-learn

| Data Science Tools | 
|--------------------|
| Jupyter Notebook |
| Google Colab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Julián André Valdivia Nario